.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

input:invalid {
    border: 2px solid red;
}

input:invalid:required {}
